@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4e54c8;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 69%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 15%;
    width: 64px;
    height: 64px;
    bottom: -64px;
    animation-delay: 2s;
}
.background li:nth-child(2) {
    left: 5%;
    width: 96px;
    height: 96px;
    bottom: -96px;
    animation-delay: 5s;
}
.background li:nth-child(3) {
    left: 9%;
    width: 140px;
    height: 140px;
    bottom: -140px;
    animation-delay: 1s;
}
.background li:nth-child(4) {
    left: 8%;
    width: 103px;
    height: 103px;
    bottom: -103px;
    animation-delay: 2s;
}
.background li:nth-child(5) {
    left: 81%;
    width: 150px;
    height: 150px;
    bottom: -150px;
    animation-delay: 8s;
}
.background li:nth-child(6) {
    left: 81%;
    width: 148px;
    height: 148px;
    bottom: -148px;
    animation-delay: 25s;
}
.background li:nth-child(7) {
    left: 62%;
    width: 124px;
    height: 124px;
    bottom: -124px;
    animation-delay: 4s;
}
.background li:nth-child(8) {
    left: 63%;
    width: 98px;
    height: 98px;
    bottom: -98px;
    animation-delay: 31s;
}
.background li:nth-child(9) {
    left: 87%;
    width: 67px;
    height: 67px;
    bottom: -67px;
    animation-delay: 43s;
}
.background li:nth-child(10) {
    left: 23%;
    width: 77px;
    height: 77px;
    bottom: -77px;
    animation-delay: 24s;
}
.background li:nth-child(11) {
    left: 56%;
    width: 111px;
    height: 111px;
    bottom: -111px;
    animation-delay: 3s;
}
.background li:nth-child(12) {
    left: 27%;
    width: 92px;
    height: 92px;
    bottom: -92px;
    animation-delay: 12s;
}
.background li:nth-child(13) {
    left: 76%;
    width: 121px;
    height: 121px;
    bottom: -121px;
    animation-delay: 34s;
}